@import "../../../vars";

.emoji-groups_separator {
  padding-left: $inner-gap;
  width: $emojis-row-width;

  .separator_inner {
    margin: calc(#{$emoji-container-size} / 2) 0;
    border-bottom: 1px solid #bdbdbd;
  }
}