.buttons-wrapper {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid grey;

  .active-group {
    background-color: #D8D8D8;
  }

  /* Отменяет подпрыгивание при нажатии на группу */
  .Change-group-button {
    &:active {
      transform: translateY(0);
    }
  }
}
