.Widget {
  margin-left: 5px;
  width: 261px;
  height: 432px;
  font-size: 18px;

  .search {
    margin: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .search-input {
      width: 92%;
      height: 25px;
    }
  }
}