@import "../../vars";

.menu {
  font-size: 14px;
  border-radius: 2px;
  padding: 0;
  margin: 0;
  position: absolute;
  list-style: none;
  box-shadow: 0 0 15px #bdbdbd;

  .button_text {
    font-size: inherit;
    padding-left: 8px;
  }

  .current-emoji_wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    user-select: none;

    .current-emoji {
      font-size: 22px;
    }
  }

  .copy_button,
  .add-to-favourites_button,
  .remove-from-favourites_button {
    all: unset;
    position: relative;
    width: 100%;
    text-align: left;
    cursor: pointer;

    &:hover {
      color: #0090ff;
    }
  }
}

.light-menu {
  color: $fontColourLight;
  background-color: $inputBackgroundColorLight;
  box-shadow: 0 0 3px 0 #cccccc;
}

.dark-menu {
  color: $fontColourDark;
  background-color: $inputBackgroundColorDark;
  box-shadow: none;
}