@import "../../../vars";

.settings {
  margin: auto;
  font-size: 18px;

  .settings_menu {
    display: flex;
    flex-direction: column;

    .settings_item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 20px;
      padding: 10px 0;

      .separator_inner {
        width: 100%;
        border-bottom: 1px solid #bdbdbd;
      }
    }
  }
}

//for toggle
input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

input[type="checkbox"]:focus {
  outline: 0;
}

.toggle {
  height: 24px;
  width: 40px;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  margin: 0;
  background: #EE5E52;
  transition: all .2s ease;
}

.toggle:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
  transition: all .2s cubic-bezier(.5, .1, .75, 1.35);
}

.toggle:checked {
  background-color: $green;
}

.toggle:checked:after {
  transform: translatex(15px)
}

.light-toggle:focus {
  box-shadow: 0 0 0 1px $backgroundColorLight, 0 0 0 2px $inputBorderColor;
}

.dark-toggle:focus {
  box-shadow: 0 0 0 1px $backgroundColorDark, 0 0 0 2px $inputBorderColor;
}

//for radio
.form_radio_btn {
  display: inline-block;
  margin-left: 5px;
  height: 20px;

  input[type=radio] {
    display: none;

    &:checked + label {
      border: 1px solid $green;
      color: white;
    }
  }

  label {
    height: 20px;
    width: 20px;
    display: flex;
    padding: 2px;
    cursor: pointer;
    border: 1px solid $borderBottomColor;
    border-radius: 6px;
    user-select: none;

    img {
      height: 20px;
      width: 20px;
    }

    &:hover {
      color: #666;
    }
  }
}
