@import "../../../vars";

.settings {
  margin: auto;
  font-size: 18px;

  .settings_menu {
    display: flex;
    flex-direction: column;

    .settings_item {
      margin: 0 $inner-gap;
      padding: 10px 0;

      .separator_inner {
        width: 100%;
        border-bottom: 1px solid #bdbdbd;
      }
    }
  }
}
