@import "../../vars";

$inputVerticalPadding: 8px;
$inputLeftPadding: 12px;
$inputRightPadding: 36px;
$searchIconWidth: 20px;
$searchIconOffset: calc(#{$emojis-row-width} - #{$inputRightPadding} - #{$inner-gap} + #{$searchIconWidth});

.search {
  margin: $inner-gap 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-input {
    all: unset;
    width: calc(#{$emojis-row-width} - #{$inputLeftPadding} - #{$inputRightPadding});
    padding: $inputVerticalPadding calc(#{$inputLeftPadding} * 3) $inputVerticalPadding $inputLeftPadding;
    border: none;
    font-size: 15px;
    border-radius: 5px;
    transition: all .1s ease;
  }

  .light-search-input {
    color: #212529;
    background: $inputBackgroundColorLight url("../../../public/img/light_search_icon.png") no-repeat $searchIconOffset;

    &:focus {
      box-shadow: 0 0 0 1px $backgroundColorLight,
      0 0 0 2px $inputBorderColor;
    }
  }

  .dark-search-input {
    color: $fontColorDark;
    background: $inputBackgroundColorDark url("../../../public/img/dark_search_icon.png") no-repeat $searchIconOffset;

    &:focus {
      box-shadow: 0 0 0 1px $backgroundColorDark,
      0 0 0 2px $inputBorderColor;
    }
  }
}