@import "../../vars";

.search {
  margin: $inner-gap 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-input {
    all: unset;
    width: calc(#{$emojis-row-width} - 10px);
    padding: 5px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
  }

  .light-search-input {
    background-color: $inputBackgroundColorLight;
    color: #212529;

    &:focus {
      box-shadow: 0 0 0 1px $backgroundColorLight,
      0 0 0 2px $inputBorderColor;
    }
  }

  .dark-search-input {
    color: $fontColourDark;
    background-color: $inputBackgroundColorDark;

    &:focus {
      box-shadow: 0 0 0 1px $backgroundColorDark,
      0 0 0 2px $inputBorderColor;
    }
  }
}