@import "../../vars";

.search {
  margin: $inner-gap 0;
  display: flex;
  justify-content: center;
  align-items: center;

  .search-input {
    all: unset;
    width: calc(#{$emojis-row-width} - 10px);
    padding: 5px;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    transition: all .1s ease;
  }

  .light-search-input {
    color: #212529;
    background: $inputBackgroundColorLight url("../../../public/img/light_search_icon.png") no-repeat calc(#{$emojis-row-width} - 25px);

    &:focus {
      box-shadow: 0 0 0 1px $backgroundColorLight,
      0 0 0 2px $inputBorderColor;
    }
  }

  .dark-search-input {
    color: $fontColorDark;
    background: $inputBackgroundColorDark url("../../../public/img/dark_search_icon.png") no-repeat calc(#{$emojis-row-width} - 25px);

    &:focus {
      box-shadow: 0 0 0 1px $backgroundColorDark,
      0 0 0 2px $inputBorderColor;
    }
  }
}