@import "../../vars";

.widget {
  width: $widget-width;
  height: $widget-height;
  font-size: 18px;
}

.light-widget {
  background-color: $backgroundColorLight;
  color: $fontColourLight;
}

.dark-widget {
  background-color: $backgroundColorDark;
  color: $fontColourDark;
}