$emoji-container-size: 32px;
$emoji-image-size: 25px;
$emojis-count-in-row: 9;
$emojis-row-width: calc(#{$emojis-count-in-row} * #{$emoji-container-size});
$inner-gap: 10px;

$widget-width: calc(#{$emojis-row-width} + #{$inner-gap} * 2);
$widget-height: 440px;

$emojis-wrapper-height: 288px;

$fontColourLight: #212529;
$backgroundColorLight: #f5f5f5;
$inputBackgroundColorLight: #ffffff;
$hoverBackgroundColorLight: #e8e8e8;

$scrollbarColor: #0000004C;
$borderBottomColor: #bdbdbd;
$borderHoverGroupColor: #dcdcdc;

$fontColourDark: #dbdbdb;
$backgroundColorDark: #333336;
$inputBackgroundColorDark: #444446;
$hoverBackgroundColorDark: #5e5e5e;

$inputBorderColor: #0090FF;