$emoji-container-size: 45px;
$emoji-image-size: 28px;
$emojis-count-in-row: 7;
$emojis-row-width: calc(#{$emojis-count-in-row} * #{$emoji-container-size});
$inner-gap: 10px;

$widget-width: calc(#{$emojis-row-width} + #{$inner-gap} * 2);
$widget-height: 460px;

$emojis-wrapper-height: 315px;

$fontColorLight: #212529;
$backgroundColorLight: #F5F5F5;
$inputBackgroundColorLight: #FFFFFF;
$hoverBackgroundColorLight: #E8E8E8;

$scrollbarColor: #0000004C;
$borderBottomColor: #BDBDBD;
$borderHoverGroupColor: #DCDCDC;

$fontColorDark: #DBDBDB;
$backgroundColorDark: #333336;
$inputBackgroundColorDark: #444446;
$hoverBackgroundColorDark: #5E5E5E;

$inputBorderColor: #0090FF;
$green: #5CB176;
$red: #EE5E52