body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 260px;
  height: 340px;
  border: 1px solid black;
  border-radius: 5px;
}

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid grey;
}

.tab {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  margin-right: 5px;
}