@import "../vars";

.Emoji-group {
  margin: auto;
  position: relative;
  width: 100%;

  .group-name {
    margin: 0 0 5px $inner-gap;
    font-size: 20px;
    font-weight: normal;
  }

  .emojis-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 $inner-gap;
    max-height: $emojis-wrapper-height;

    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .emoji-img {
      width: 26px;
      height: 26px;
    }
  }
}

.emoji-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $emoji-container-size;
  height: $emoji-container-size;

  user-select: none;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }

  &:hover {
    background-color: #E8E8E8;
  }
}
