@import "../../vars";

.Emoji-group {
  margin: auto;
  position: relative;
  width: 100%;

  .group-name {
    margin: 0 0 5px $inner-gap;
    font-size: 20px;
    font-weight: normal;
  }

  .light-wrapper {
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px $scrollbarColorLight;
    }
  }

  .dark-wrapper {
    &::-webkit-scrollbar-thumb {
      box-shadow: inset 0 0 6px $hoverBackgroundColorDark;
    }
  }

  .emojis-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 $inner-gap;
    max-height: $emojis-wrapper-height;

    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
    }

    .light-container {
      &:hover {
        background-color: $hoverBackgroundColorLight;
      }
    }

    .dark-container {
      &:hover {
        background-color: $hoverBackgroundColorDark;
      }
    }

    .emoji-container {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: $emoji-container-size;
      height: $emoji-container-size;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      border-radius: 5px;

      user-select: none;
      cursor: pointer;

      &:active .emoji-img {
        transform: scale(0.9)
      }

      .emoji-img {
        width: $emoji-image-size;
        height: $emoji-image-size;
      }
    }
  }
}
